#contactWrapper{
  background-color: rgb(232,222,147);
  height: fit-content;
 
}

#contact{
  font-weight: bold;            
  font-size: 2.5rem;
}

.svgContainer{
  padding: 4rem;
  display: flex;
  justify-content: center;
  gap: 4rem;
}