#projects {
    background-color: rgb(255, 255, 255);
    color: $dark-blue-text;
    margin-top: -10rem;
    padding-top: 5rem;


    .project-wrapper {
        margin-bottom: 15rem;

        .row {
            margin-bottom: 8rem;
        }

        &__text {
            text-align: left;

            &__title {
                font-weight: bold;
                    margin-bottom: 1.8rem;
                    font-size: 2.5rem;

                }

            & p > a {
                color: $secondary-color;
                }
        }

        &__image {
            width: 100%;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          }
    } 
}

img{
  width: 50%;
}