@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");
body {
  margin: 0;
  background-color: rgb(255, 255, 255);
}

.mb-8 {
  margin-bottom: 8rem !important;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

.dark-blue-text {
  color: #282442 !important;
}

p,
a {
  font-family: "Segoe UI", sans-serif;
  font-size: 1.6rem;
}

a,
a:link,
a:hover,
a:visited,
a:active {
  text-decoration: none;
}

a:hover {
  transition: all 0.3s ease-in-out;
}

.section-title {
  margin: 0px;
  margin-bottom: 4.5rem;
  font-size: 4rem;
  font-weight: bold;
  text-transform: uppercase;
}

.text-color-main {
  -webkit-text-fill-color: #22ae97;
  text-decoration-color: #22ae97;
}
.text-color-main:hover {
  transform: translateX(2px);
}

#hero {
  background-color: #333333;
  min-height: 100vh;
  height: 100vh;
  display: flex;
  align-items: center;
  border-bottom: 0px;
  -webkit-clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
          clip-path: polygon(100% 0%, 75% 50%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);
  background-image: linear-gradient(limegreen, transparent), linear-gradient(90deg, skyblue, transparent), linear-gradient(-90deg, coral, transparent);
  background-blend-mode: screen;
  background-color: #333333;
  font-weight: 400;
  color: #333333;
  padding: 0rem 26.6rem;
  margin-bottom: 0;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}
#hero .hero-title {
  margin-top: 10vh;
  font-size: 4.5rem;
  font-weight: 700;
  margin-bottom: 3.2rem;
  text-align: left;
}

#about {
  background-color: #333333;
  background-image: linear-gradient(135deg, #02aab0 0%, #22ae97 100%);
  color: #333333;
  height: 100%;
  border-top: 0px;
  -webkit-clip-path: polygon(100% 0, 90% 74%, 0 100%, 0 55%, 25% 0);
          clip-path: polygon(100% 0, 90% 74%, 0 100%, 0 55%, 25% 0);
  background-image: linear-gradient(coral, transparent), linear-gradient(90deg, skyblue, transparent), linear-gradient(-90deg, limegreen, transparent);
  background-blend-mode: screen;
  padding-bottom: 20%;
}
#about .about-wrapper__image {
  display: flex;
  height: 100%;
  align-items: left;
  justify-content: right;
}
#about .about-wrapper__info-text {
  text-align: left;
  font-weight: bold;
}
#about .about-wrapper__info-text--important {
  background: #21aa93;
  display: inline-block;
  font-style: italic;
  padding: 0 0.3rem;
  margin: 0.3rem 0;
  line-height: 1.6;
}

#projects {
  background-color: rgb(255, 255, 255);
  color: #282442;
  margin-top: -10rem;
  padding-top: 5rem;
}
#projects .project-wrapper {
  margin-bottom: 15rem;
}
#projects .project-wrapper .row {
  margin-bottom: 8rem;
}
#projects .project-wrapper__text {
  text-align: left;
}
#projects .project-wrapper__text__title {
  font-weight: bold;
  margin-bottom: 1.8rem;
  font-size: 2.5rem;
}
#projects .project-wrapper__text p > a {
  color: #22ae97;
}
#projects .project-wrapper__image {
  width: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

img {
  width: 50%;
}

#contactWrapper {
  background-color: rgb(232, 222, 147);
  height: -moz-fit-content;
  height: fit-content;
}

#contact {
  font-weight: bold;
  font-size: 2.5rem;
}

.svgContainer {
  padding: 4rem;
  display: flex;
  justify-content: center;
  gap: 4rem;
}/*# sourceMappingURL=styles.css.map */